<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Home - Shopme Admin', 'none')">

</head>
<body>

	<div class="container-fluid">
		<div th:replace="comm/navigation :: menu">
			
		</div>
		<div>
			<h2>Manage Users</h2>
			<a th:href="@{/users/new}" class="fas fa-user-plus icon-dark mr-3"></a>
		
			<a th:href="@{/users/export/csv}" class="fas fa-file-csv icon-dark mr-3"></a>
		
			<a th:href="@{/users/export/excel}" class="fas fa-file-excel icon-dark mr-3"></a>
		
			<a th:href="@{/users/export/pdf}" class="fas fa-file-pdf icon-dark"></a>
		</div>
		
		<div th:if="${message != null}" th:class="'alert alert-' + ${typeAlert} + ' text-center'" role="alert">
		    [[${message}]]
		</div>
		
		<!-- Search -->
		<div th:replace="fragments :: search_form"></div>
		
		<!-- List item -->
		
		<div class="full-details">
			<table class="table table-bordered table-striped table-hover table-responsive-lg tabled-bordered-none">
				<thead class="thead-dark">
					<tr>
						 <th class="hideable-column">
						 	<th th:replace="fragments :: column_link(,'id', 'User ID', 'tag')"></th>
						 </th>
						   
					
						<th>Photos</th>
						<th class="hideable-column">
						 	<th th:replace="fragments :: column_link('email', 'E-mail', 'tag')"></th>
						 </th>
					
					
						 <th th:replace="fragments :: column_link('firstName', 'First Name', 'none')"></th>
					
						<th th:replace="fragments :: column_link('lastName', 'Last Name', 'none')"></th>
				
						<th>Roles</th>
					
						<th th:replace="fragments :: column_link('enabled', 'Enabled', 'none')"></th>
				
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						
						<td class="hideable-column" th:text="${user.id}"></td>
						<td>
							<span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
							<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" 
							style="width:100px;"/>
						</td>
						<td class="hideable-column" th:text="${user.email}"></td> 
						<td th:text="${user.firstName}"></td>
						<td th:text="${user.lastName}"></td>
						<td th:text="${user.roles}"></td>
						<td>
							<div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
						</td>
						
						<td>
						  	<div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
							&nbsp; 
							<div th:replace="fragments :: delete('user',${user.id}, '/users/delete/' + ${user.id}, true)"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- Media Small Screen -->
		<div class="less-details">
		    <div th:each="user : ${listusers}" class="row m-1">
		    	<div class="col-4">
		    		<span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
					<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" 
					style="width:100px;"/>
		    	</div>
		    	<div class="col-8">
		    		<div>[[${user.fullName}]]</div>
		    		<div>[[${user.roles}]]</div>
		    		<div class="m-2">
		    			
						<div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
					 	&nbsp; 
					    <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
						&nbsp; 
						<div th:replace="fragments :: delete('user' ,${user.id} ,'/users/delete/' + ${user.id}, true)"></div>

		    		</div>
		    	</div>
		    </div>
		</div>
		
		<!-- Showing User -->
		
		<!-- Paging -->
			<div th:replace="fragments :: pagination('users')"></div>
		<!-- Modal -->
		<div th:replace="modal_fragments :: confirm_modal"></div>
		
		
		<!-- Footer -->
		
		<div th:replace="comm/footer :: footer"></div>
	</div>
	
	
	<script type="text/javascript">
		$(document).ready(function() {
			$(".link-delete").on("click", function(e) {
				e.preventDefault();
				link = $(this);
				userId = link.attr("entityId");
				$("#yesBtn").attr("href", link.attr("href"));
				$("#confirmBody").text("Are you sure you want to delete this user ID " + userId);
				$("#confirmModal").modal();
				
			});
			
		});
		
		function clearFilter() {
			window.location="[[@{/users}]]";
		}
		
		
	</script>
	<!-- Logout -->
	<script th:src="@{/js/comm.js}"></script>
	
	<!-- animation user -->
	<script th:src="@{/js/navigationJS.js}"></script>
	
</body>
</html>