*.icon-white {color : white;}
*.icon-silver {color : silver;}
*.icon-green {color : green;}
*.icon-dark {color : gray;}
*.icon-red{color:red;}
*.icon-blue{color:blue;}

.fas.fa-sort-down {
	transform: translate(4px, -2px);
}

.fas.fa-sort-up {
	transform: translate(4px, 5px);
}

.fas.fa-user-plus,
 .fas.fa-file-csv ,
 .fas.fa-file-excel,
 .fas.fa-file-pdf {
	font-size : 20px;
}


/*Media CSS*/
@media screen and (max-width: 768px) {
	/*Small screen*/
	div.full-details {display:none;}
	div.less-details{display:block;}
	
}

@media screen and (min-width: 768px) and (max-width : 1024px) {
	/*Medium screen*/
		div.full-details {display: block;}
		div.less-details{display:none;}
		.hideable-column {display:none;}
		.tabled-bordered-none {
			border:none !important;
			transform: translateX(8%);
		}
		
}

@media screen and (min-width: 1024px) {
	/*large screen*/
	div.less-details{display:none;}
	div.full-details {display:block;}
	.hideable-column {display:table-cell;}
}

/*Css index*/
.fas.fa-user.icon-index {
	margin: 12px 10px 0 50px;
    color: white;
}

/*Css image*/
#thumbnail {
	
    object-fit: cover;
}